body {
    padding-top: 50px;
}
.jumbotron {
    background-color:  #ad5151;
    color:white;
    padding: 70px 30px;
    margin: 0px auto;
    border-radius: 0px;
}

div {
    word-wrap: break-word;
}

.row-header {
    margin: 0px auto;
    padding: 0px;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: #ad5151;
    margin: 0px auto;
    padding: 20px 0px;
    color: white;
}

.footer a {
    color: rgb(66, 31, 2);
}

.footer .btn-social-icon {
    color: white;
}

.navbar-dark {
    background-color: #272727;
}

.breadcrumb {
    margin-top:10px;
}

.navbar-toggler {
    margin: 0px 15px 0px 0px;
}

h2 .badge {
    font-size: medium;
}